# CONFIG FILE FOR CLUSTERING-PIPELINE

# INPUT SPECIES-NAMES & ASSEMBLY-FASTA-FILES
[INPUT]
[[ORGANISM1]]
name = "Test organism #1"	# full name
prefix = "to1"	# prefix, used in resulting clusters, 3-4 characters
assembly_fasta = "/bastian/test1.fasta" # full path to file
unique_field = 1	# which field in the fasta-header is unique 
			# and shall be used to discriminate sequences?
			# separators are " " and "|" 

[[ORGANISM2]]
name = "Test organism #2"
prefix = "to2"
assembly_fasta = "/bastian/test2.fasta"
unique_field = 1

# OUTPUT
[OUTPUT]
folder = "/bastian/cluster_pipeline/output_data/" # Give the complete path
logging = True

# SETTINGS FOR ORF-PREDICTION (done via ORFPredictor)
[ORFPREDICTION]
minimum_length = 50 # minimum length an ORF has to be, in AA
database = /home/informatics/Dokumente/ncbi-blast-2.2.23+/Blast_linux_installed/swissprot # path to the blastx-supporting database you want to use

# SETTINGS FOR ORTHOMCL / CLUSTERING
[ORTHOMCL]
dbType = mysql	# type of database you want to use, right now only mysql works
dbConnectString = dbi:mysql:orthomcl # how to connect and which database to use
dbLogin = root		# your login
dbPassword = password 	# your password
similarSequencesTable=SimilarSequences
orthologTable=Ortholog
inParalogTable=InParalog
coOrthologTable=CoOrtholog
interTaxonMatchView=InterTaxonMatch
percentMatchCutoff=50
evalueExponentCutoff=-5
oracleIndexTblSpc=NONE

